#imageHolder{
    position: relative;
    width: 60%;
    height: 45%;
    transform: translate(30%, 35%);
    object-fit: contain;
    margin-left: auto;
	margin-right: auto;
	display: block;
}

#image1{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    transition: all 1s ease;
    transform: translateX(-25%) translateY(-25%);
}

#buttons{
    transform: translate(30%, 35%);
    position:absolute;
}
#btn1{
    position: relative;
}
